.assignment {
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aerospace-btn {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aerospace-btn:hover {
  background-color: #2980b9;
}

.aerospace-btn:focus {
  outline: none;
}

.gaugeContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gaugeItem {
  margin: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  transition: all 2s ease-in-out; /* Animation duration set to 2 seconds */
}

.loader-container {
  /* Ensure the container takes the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This ensures the container takes the full viewport height */
}

/* Define the nebula purple button style */
.refreshButton {
  background-color: #87ceeb; /* Nebula Purple color */
  color: #ffffff; /* Text color (white) */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Change button color on hover */
.refreshButton:hover {
  background-color: #7b68ee; /* Lighter shade of Nebula Purple on hover */
}
